@import '../../../sass/mixin'


.wrap
  +ani(normal)
  +size(fill)
  +flex_dir(row)

  &
    opacity: 1

  &.hidden
    opacity: 0

  .auth_block
    +size(fit)
    display: flex
    flex-direction: row
    align-items: center
