@use "../../../../../../sass/config" as glob_c
@use "../../../../../../sass/mixin" as glob_m
@use "../../../../sass/mixin" as auth_m
@import "config"

.input_block
  +glob_m.ani(normal)
  +glob_m.size(fit)
  position: relative
  margin: $ver_offset $hor_offset

  &
    top: 0
    opacity: 1

  &.hidden
    top: glob_c.$anim_len
    opacity: 0

  .input
    +auth_m.block_shadow
    width: $input_width
    padding: $input_v_pad $text_offset
    outline: none
    background: none
    border: glob_c.$border_width solid glob_c.$main_clr
    border-radius: glob_c.$border_rad

