@import "./config"

*
  color: $theme_clr
  font-family: $font
  font-size: $font_size
  font-weight: $font_weight

html, body, body > div
  margin: 0
  padding: 0
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%